<div class="page-container">
  <h2>Sobre o Vem Ser Café</h2>

  <p>
    Somos pioneiros no ramo de café da região. Contamos com inúmeras variedades
    de cafés e atuamos desde 2002. São 11 anos celebrando conquistas, memórias e
    sabor através do café.
  </p>
  <mat-grid-list cols="2" rowHeight="2:1" cl>
    <mat-grid-tile
      ><img
        src="https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt=""
    /></mat-grid-tile>
    <mat-grid-tile
      ><img
        src="https://images.unsplash.com/photo-1498804103079-a6351b050096?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt=""
    /></mat-grid-tile>
    <mat-grid-tile
      ><img
        src="https://images.unsplash.com/photo-1522992319-0365e5f11656?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt=""
    /></mat-grid-tile>
    <mat-grid-tile
      ><img
        src="https://images.unsplash.com/photo-1606791405792-1004f1718d0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt=""
    /></mat-grid-tile>
  </mat-grid-list>

  <a mat-raised-button routerLink="/" class="link-btn"
    >Conheça as nossas especialidades</a
  >
</div>
