<div class="page-container">
  <h2>Entre em contato!</h2>
  <div class="contact-container">
    <ul>
      <li>Email: vemser.cafe@email.com</li>
      <li>Whatsapp: (51) 9 9877-9900</li>
      <li>Instagram: @vemser_cafe</li>
    </ul>
  </div>

  <div class="map-container">
    <h2>Estamos próximos de você!</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.409183839279!2d-51.20387252353267!3d-29.996405029052102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951979e0c5d78685%3A0x48abb378377374b3!2sInstituto%20Caldeira!5e0!3m2!1spt-BR!2sbr!4v1680638877155!5m2!1spt-BR!2sbr"
      width="800"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
