$brown: #674d3f;
$dark-brown: #674d3f;
$beige: #ece1cf;

h3 {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 2rem;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.coffee-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 3rem;
  max-width: 1080px;
}

.coffee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  background-color: $beige;
  width: 300px;
  border-radius: 8px;

  img {
    max-width: 70px;
  }

  button {
    margin-top: auto;
    background-color: #674d3f;

    span {
      color: $dark-brown;
    }
  }

  p {
    color: $dark-brown;
  }
}
