/* Global Styles */
$brown: #674d3f;
$dark-brown: #674d3f;
$beige: #ece1cf;
$background: #fff9f2;
$white: #fcfcfc;

.form-container {
  margin-top: 3rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid $dark-brown;
  height: 50vh;

  h2 {
    margin-bottom: 3rem;
  }

  label {
    text-align: left;
    margin-bottom: 0.2rem;
  }

  input {
    border: none;
    min-width: 300px;
    margin-bottom: 1rem;
    padding: 0rem 0rem 0.2rem 0;
    background-color: transparent;
    border-bottom: 1px solid $dark-brown;
    color: $brown;

    &:focus {
      outline: none;
    }
  }

  button {
    margin-top: 2rem;
    width: 300px;
  }
}
